Repository estromenko/tit-web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Improve error handing
  src/lib/api/http.ts
  src/lib/components/SignInForm/SignInForm.svelte
  src/lib/components/SignUpForm/SignUpForm.svelte
  src/lib/types/index.ts
  src/routes/(main)/sign-in/+page.server.ts
  src/routes/(main)/sign-up/+page.server.ts
Due: eslint --fix, prettier --write

Move backend enpoints urls to api functions
  src/lib/api/http.ts
  src/routes/(main)/sign-in/+page.server.ts
  src/routes/(main)/sign-up/+page.server.ts
Due: eslint --fix, prettier --write

Add access token expiring
  src/lib/defaults/index.ts
  src/lib/utils/user.ts
Due: eslint --fix, prettier --write

Do not run eslint on html files
  .lintstagedrc
Due: none

Change header if user is authenticated
  src/lib/components/Header/Header.svelte
  src/routes/(main)/+layout.server.ts
  src/routes/(main)/+layout.svelte
Due: eslint --fix, prettier --write

Implement sign up and sign in
  src/app.html
  src/lib/api/http.ts
  src/lib/components/Header/Header.svelte
  src/lib/components/SignInForm/SignInForm.svelte
  src/lib/components/SignUpForm/SignUpForm.svelte
  src/lib/defaults/index.ts
  src/lib/types/index.ts
  src/lib/utils/user.ts
  src/routes/(main)/+layout.svelte
  src/routes/(main)/sign-in/+page.server.ts
  src/routes/(main)/sign-in/+page.svelte
  src/routes/(main)/sign-up/+page.server.ts
  src/routes/(main)/sign-up/+page.svelte
  static/logo.png
  tailwind.config.cjs
Due: eslint --fix, prettier --write

Add loader and animations for sign up form
  src/lib/components/SignUpForm/SignUpForm.svelte
Due: eslint --fix, prettier --write

Implement dashboard
  .eslintrc.cjs
  package.json
  src/lib/api/http.ts
  src/lib/types/index.ts
  src/lib/utils/misc.ts
  src/routes/(main)/+layout.server.ts
  src/routes/(main)/+layout.svelte
  src/routes/(main)/dashboard/+page.svelte
  src/routes/(main)/sign-in/+page.server.ts
  src/routes/(main)/sign-up/+page.server.ts
  yarn.lock
Due: eslint --fix, prettier --write

Redirect to dashboard instead of main page after login
  src/routes/(main)/sign-in/+page.server.ts
  src/routes/(main)/sign-up/+page.server.ts
Due: eslint --fix, prettier --write

Fix types in sign-in and sign-up pages
  src/routes/(main)/sign-in/+page.server.ts
  src/routes/(main)/sign-up/+page.server.ts
Due: eslint --fix, prettier --write

Add redirect to login when accessing private routes unauthorized
  src/lib/components/SignInForm/SignInForm.svelte
  src/lib/types/index.ts
  src/routes/(main)/(private)/+layout.server.ts
  src/routes/(main)/(private)/dashboard/+page.svelte
  src/routes/(main)/sign-in/+page.server.ts
Due: eslint --fix, prettier --write

Add loader and animations for sign in form
  src/lib/components/SignInForm/SignInForm.svelte
Due: eslint --fix, prettier --write

Make novnc import dynamic
  src/routes/(main)/(private)/dashboard/+page.svelte
Due: eslint --fix, prettier --write

Add animations to dashboard
  src/routes/(main)/(private)/dashboard/+page.svelte
Due: eslint --fix, prettier --write

Change loader and message style in dashboard page
  src/routes/(main)/(private)/dashboard/+page.svelte
Due: eslint --fix, prettier --write

Add dockerization
  .dockerignore
  README.md
  docker/Dockerfile
  docker/docker-compose.yml
  docker/docker-entrypoint.sh
Due: none

Add missing adapter for production build
  package.json
  svelte.config.js
  yarn.lock
Due: eslint --fix, prettier --write

Add autoscaling when window resizes
  src/routes/(main)/(private)/dashboard/+page.svelte
Due: eslint --fix, prettier --write

Connect to dashboard inside k8s cluster
  src/lib/api/http.ts
  src/routes/(main)/(private)/dashboard/+page.svelte
Due: eslint --fix, prettier --write

Add markdown tutorials
  package.json
  src/lib/api/http.ts
  src/lib/assets/images/back.png
  src/lib/components/Dashboard/Dashboard.svelte
  src/lib/components/Header/Header.svelte
  src/lib/components/TutorialsViewer/TutorialsViewer.svelte
  src/lib/types/index.ts
  src/routes/(main)/(private)/(admin)/+layout.server.ts
  src/routes/(main)/(private)/(admin)/tutorials/+page.server.ts
  src/routes/(main)/(private)/(admin)/tutorials/+page.svelte
  src/routes/(main)/(private)/(admin)/tutorials/[id]/+page.server.ts
  src/routes/(main)/(private)/(admin)/tutorials/[id]/+page.svelte
  src/routes/(main)/(private)/(admin)/tutorials/create/+page.server.ts
  src/routes/(main)/(private)/(admin)/tutorials/create/+page.svelte
  src/routes/(main)/(private)/dashboard/+page.svelte
  src/routes/(main)/+layout.server.ts
  src/routes/(main)/+layout.svelte
  src/routes/+layout.svelte
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

Add error page
  src/routes/+error.svelte
Due: eslint --fix, prettier --write

Rework layouts
  src/routes/(main)/+layout.svelte
  src/routes/+error.svelte
  src/routes/+layout.server.ts
  src/routes/+layout.svelte
Due: eslint --fix, prettier --write

Add landing
  src/lib/components/icons/ArrowIcon/ArrowIcon.svelte
  src/routes/+page.svelte
Due: eslint --fix, prettier --write

Add profile page
  src/lib/api/http.ts
  src/lib/components/Form/Form.svelte
  src/lib/components/PasswordResetForm/PasswordResetForm.svelte
  src/lib/types/index.ts
  src/routes/(main)/(private)/profile/+page.server.ts
  src/routes/(main)/(private)/profile/+page.svelte
Due: eslint --fix, prettier --write

Replace sign-in and sign-out images
  src/routes/(main)/sign-in/+page.svelte
  src/routes/(main)/sign-up/+page.svelte
Due: eslint --fix, prettier --write

Fix transitions between pages
  src/routes/(main)/(private)/dashboard/+page.svelte
  src/routes/(main)/sign-in/+page.svelte
  src/routes/(main)/sign-up/+page.svelte
  src/routes/+page.svelte
Due: eslint --fix, prettier --write

Fix wrong redirect page in sign in form
  src/lib/components/SignInForm/SignInForm.svelte
Due: eslint --fix, prettier --write

Allow to specify protocol for dashboards
  src/lib/components/Dashboard/Dashboard.svelte
Due: eslint --fix, prettier --write

Fix broken websocket connection moving between pages
  src/lib/components/Dashboard/Dashboard.svelte
Due: eslint --fix, prettier --write

Remove classnames package from dependencies
  package.json
Due: prettier --write

Optimize docker image
  docker/Dockerfile
  docker/docker-entrypoint.sh
  package.json
Due: prettier --write

Fix 500 error in pages using bytemd highlight plugin
  src/lib/components/TutorialsViewer/TutorialsViewer.svelte
  src/routes/(main)/(private)/(admin)/tutorials/[id]/+page.svelte
  src/routes/(main)/(private)/(admin)/tutorials/create/+page.svelte
Due: eslint --fix, prettier --write

Add werf
  .helm/Chart.yaml
  .helm/templates/cluster-issuer.yaml
  .helm/templates/deployment.yaml
  .helm/templates/ingress.yaml
  .helm/templates/secret.yaml
  .helm/templates/service.yaml
  .helm/values.yaml
  README.md
  docker/Dockerfile
  docker/docker-compose.yml
  werf.yaml
Due: none

Fix adaptive on sign in and sign up pages
  src/lib/components/SignInForm/SignInForm.svelte
  src/lib/components/SignUpForm/SignUpForm.svelte
  src/routes/(main)/sign-in/+page.svelte
  src/routes/(main)/sign-up/+page.svelte
Due: eslint --fix, prettier --write

Add .editorconfig
  .editorconfig
Due: none

Add .helm directory to .prettierignore
  .prettierignore
Due: none

Do not use deprecated svelte eslint plugin
  .eslintrc.cjs
  package.json
  yarn.lock
Due: prettier --write

Fix eslint configuration and all linter warnings
  .eslintrc.cjs
  README.md
  src/lib/components/Dashboard/Dashboard.svelte
  src/lib/components/Header/Header.svelte
  src/lib/components/PasswordResetForm/PasswordResetForm.svelte
  src/lib/components/SignInForm/SignInForm.svelte
  src/lib/components/SignUpForm/SignUpForm.svelte
  src/lib/components/TutorialsViewer/TutorialsViewer.svelte
  src/lib/components/icons/ArrowIcon/ArrowIcon.svelte
  src/routes/(main)/(private)/(admin)/tutorials/+page.svelte
  src/routes/(main)/(private)/(admin)/tutorials/[id]/+page.svelte
  src/routes/(main)/(private)/(admin)/tutorials/create/+page.server.ts
  src/routes/(main)/(private)/(admin)/tutorials/create/+page.svelte
  src/routes/(main)/(private)/dashboard/+page.svelte
  src/routes/(main)/(private)/profile/+page.svelte
  src/routes/(main)/+layout.svelte
  src/routes/(main)/sign-in/+page.svelte
  src/routes/(main)/sign-up/+page.svelte
  src/routes/+error.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
Due: eslint --fix, prettier --write

Ignore tsconfig errors
  tsconfig.json
Due: prettier --write

Add .vscode to .gitignore
  .gitignore
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,svelte}
  prettier --write: any of: *.{cjs,js,ts,svelte,json,html,css}
